.Virtual {
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 0 3rem;
    display: flex;
    justify-content: space-around;
}

.left{
    display: flex;
    flex-direction: column;
    gap:2rem;
    position: relative;
}

.left>:nth-child(1){
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
}

.left>:nth-child(2){
    font-size: 1.6rem;
    text-transform: uppercase;
    display: block;
    width: 20rem;
}

.left>:nth-child(3){
    font-size: 1.6rem;
    font-weight: bold;
}

.left>img{
    position: absolute;
    width: 10rem;
    bottom: 0.6rem;
    left: -1rem;
}

.wrapper{
    width: 25rem;
}
.wrapper>div{
    padding-left: 1rem;
}

.wrapper>div>div{
    height: 79% !important;
    top: 1.1rem !important;
}

@media screen and (max-width: 856px) {
    
    .Virtual{
        gap: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1rem;
        text-align: center;
    }

    .left>img{
        width: 8rem;
        bottom: -0.9rem;
        left: 5.5rem;
    }

    .wrapper{
        width: 22rem;
        margin-top: 15px;
    
    }

    .wrapper>div{
        padding-left: 0rem ;
        height: 190px !important;
    }

    .wrapper>div>div{
        height: 96% !important;
        top: 0rem !important;
    }
}